$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-input-focus: rgb(26, 72, 238);
$color-input-invalid: rgb(170, 6, 6); 
$color-highlight-error: rgb(250, 250, 23);
$color-btn-outline: rgb(3, 29, 7);
$color-btn-fill: rgb(11, 94, 29);
$color-font-alt: rgb(249, 243, 243);